__pycache__/
.pytest_cache/
.cache/
*.log
tests/__pycache__/

.env
pip-log.txt

build/
dist/

deepeval_cache/
.deepeval/

allure-results/
allure-report/
.allure/

.idea/

tests/test_faithfulness.py
localllmConnection.py